.m-000 {
  margin: var(--gss);
}

.m-100 {
  margin: var(--gss100);
}

.m-200 {
  margin: var(--gss200);
}

.m-300 {
  margin: var(--gss300);
}

.m-400 {
  margin: var(--gss400);
}

.m-500 {
  margin: var(--gss500);
}

.m-600 {
  margin: var(--gss600);
}

.m-700 {
  margin: var(--gss700);
}

.m-800 {
  margin: var(--gss800);
}

.m-900 {
  margin: var(--gss900);
}

.m-1000 {
  margin: var(--gss1000);
}

.mt-000 {
  margin-top: var(--gss);
}

.mt-100 {
  margin-top: var(--gss100);
}

.mt-200 {
  margin-top: var(--gss200);
}

.mt-300 {
  margin-top: var(--gss300);
}

.mt-400 {
  margin-top: var(--gss400);
}

.mt-500 {
  margin-top: var(--gss500);
}

.mt-600 {
  margin-top: var(--gss600);
}

.mt-700 {
  margin-top: var(--gss700);
}

.mt-800 {
  margin-top: var(--gss800);
}

.mt-900 {
  margin-top: var(--gss900);
}

.mt-1000 {
  margin-top: var(--gss1000);
}

.mb-000 {
  margin-bottom: var(--gss);
}

.mb-100 {
  margin-bottom: var(--gss100);
}

.mb-200 {
  margin-bottom: var(--gss200);
}

.mb-300 {
  margin-bottom: var(--gss300);
}

.mb-400 {
  margin-bottom: var(--gss400);
}

.mb-500 {
  margin-bottom: var(--gss500);
}

.mb-600 {
  margin-bottom: var(--gss600);
}

.mb-700 {
  margin-bottom: var(--gss700);
}

.mb-800 {
  margin-bottom: var(--gss800);
}

.mb-900 {
  margin-bottom: var(--gss900);
}

.mb-1000 {
  margin-bottom: var(--gss1000);
}

.mr-000 {
  margin-right: var(--gss);
}

.mr-100 {
  margin-right: var(--gss100);
}

.mr-200 {
  margin-right: var(--gss200);
}

.mr-300 {
  margin-right: var(--gss300);
}

.mr-400 {
  margin-right: var(--gss400);
}

.mr-500 {
  margin-right: var(--gss500);
}

.mr-600 {
  margin-right: var(--gss600);
}

.mr-700 {
  margin-right: var(--gss700);
}

.mr-800 {
  margin-right: var(--gss800);
}

.mr-900 {
  margin-right: var(--gss900);
}

.mr-1000 {
  margin-right: var(--gss1000);
}

.ml-000 {
  margin-left: var(--gss);
}

.ml-100 {
  margin-left: var(--gss100);
}

.ml-200 {
  margin-left: var(--gss200);
}

.ml-300 {
  margin-left: var(--gss300);
}

.ml-400 {
  margin-left: var(--gss400);
}

.ml-500 {
  margin-left: var(--gss500);
}

.ml-600 {
  margin-left: var(--gss600);
}

.ml-700 {
  margin-left: var(--gss700);
}

.ml-800 {
  margin-left: var(--gss800);
}

.ml-900 {
  margin-left: var(--gss900);
}

.ml-1000 {
  margin-left: var(--gss1000);
}

.ml-1100 {
  margin-left: var(--gss1100);
}