.p-000 {
  padding: var(--gss);
}

.p-100 {
  padding: var(--gss100);
}

.p-200 {
  padding: var(--gss200);
}

.p-300 {
  padding: var(--gss300);
}

.p-400 {
  padding: var(--gss400);
}

.p-500 {
  padding: var(--gss500);
}

.p-600 {
  padding: var(--gss600);
}

.p-700 {
  padding: var(--gss700);
}

.p-800 {
  padding: var(--gss800);
}

.p-900 {
  padding: var(--gss900);
}

.p-1000 {
  padding: var(--gss1000);
}

.pt-000 {
  padding-top: var(--gss);
}

.pt-100 {
  padding-top: var(--gss100);
}

.pt-200 {
  padding-top: var(--gss200);
}

.pt-300 {
  padding-top: var(--gss300);
}

.pt-400 {
  padding-top: var(--gss400);
}

.pt-500 {
  padding-top: var(--gss500);
}

.pt-600 {
  padding-top: var(--gss600);
}

.pt-700 {
  padding-top: var(--gss700);
}

.pt-800 {
  padding-top: var(--gss800);
}

.pt-900 {
  padding-top: var(--gss900);
}

.pt-1000 {
  padding-top: var(--gss1000);
}

.pr-000 {
  padding-right: var(--gss);
}

.pr-100 {
  padding-right: var(--gss100);
}

.pr-200 {
  padding-right: var(--gss200);
}

.pr-300 {
  padding-right: var(--gss300);
}

.pr-400 {
  padding-right: var(--gss400);
}

.pr-500 {
  padding-right: var(--gss500);
}

.pr-600 {
  padding-right: var(--gss600);
}

.pr-700 {
  padding-right: var(--gss700);
}

.pr-800 {
  padding-right: var(--gss800);
}

.pr-900 {
  padding-right: var(--gss900);
}

.pr-1000 {
  padding-right: var(--gss1000);
}

.pb-000 {
  padding-bottom: var(--gss);
}

.pb-100 {
  padding-bottom: var(--gss100);
}

.pb-200 {
  padding-bottom: var(--gss200);
}

.pb-300 {
  padding-bottom: var(--gss300);
}

.pb-400 {
  padding-bottom: var(--gss400);
}

.pb-500 {
  padding-bottom: var(--gss500);
}

.pb-600 {
  padding-bottom: var(--gss600);
}

.pb-700 {
  padding-bottom: var(--gss700);
}

.pb-800 {
  padding-bottom: var(--gss800);
}

.pb-900 {
  padding-bottom: var(--gss900);
}

.pb-1000 {
  padding-bottom: var(--gss1000);
}

.pl-000 {
  padding: var(--gss);
}

.pl-100 {
  padding-left: var(--gss100);
}

.pl-200 {
  padding-left: var(--gss200);
}

.pl-300 {
  padding-left: var(--gss300);
}

.pl-400 {
  padding-left: var(--gss400);
}

.pl-500 {
  padding-left: var(--gss500);
}

.pl-600 {
  padding-left: var(--gss600);
}

.pl-700 {
  padding-left: var(--gss700);
}

.pl-800 {
  padding-left: var(--gss800);
}

.pl-900 {
  padding-left: var(--gss900);
}

.pl-1000 {
  padding-left: var(--gss1000);
}
