:root {
  --gss: 0.5rem;
  --gss100: 1rem;
  --gss200: 2rem;
  --gss300: 3rem;
  --gss400: 4rem;
  --gss500: 5rem;
  --gss600: 6rem;
  --gss700: 7rem;
  --gss800: 8rem;
  --gss900: 9rem;
  --gss1000: 10rem;
  --gss1100: 11rem;
}
