.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: .2fr 2fr 0.6fr;
  /* padding: 0.3rem 1rem; */
  place-items: center;
  box-shadow: 0 0 3px #cccccc;
  background-color: #ffffff;
  z-index: 1;
}

.title {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
  font-size: 1rem;
  color: #444444;
}

.btn-back {
  width: 15px;
}

.actions {
  text-align: right;
}

.actions-icon {
  width: 20px;
}
